 
        .help-block {
            margin-left: 10px;
            color: red;
        }

        .hdrw {
            border: none !important;
            padding-top: 20px !important;
        }

        .select2-container .select2-selection--multiple {
            min-height: 0px;
        }

        .addbtn {
            margin: 15px 4px 20px;
        }


        .select2-container--default .select2-selection--multiple {
            background-color: white;
            border: 1px solid #aaa;
            border-radius: 4px;
            cursor: text;
            padding-bottom: 8px;
            margin-top: -1px;
            padding-right: 5px;
            position: relative;
        }

        select.form-select {
            border: none;
            width: auto;
        }

        label {
            font-weight: normal;
        }
        button.ab_cd#toggle_btn {
            margin-right: 2px !important;
        }
        .newthebtn.afghitpo.ab_gh{
        margin-top: 20px !important;
        }
        .row.invtblerow565 {
            margin-left: 10px;
            margin-right: 30px;
        }


        .dataTables_info {
            font-weight: normal;
        }

        table.dataTable {
            padding-top: 20px !important;
        }

        button.dt-button,
        div.dt-button,
        a.dt-button {
            margin-bottom: 20px;
        }

        .addbttn {
            margin-left: 0px !important;
            padding: 6px 12px;
            font-size: 14px;
        }

        .marginset1 {
            padding-left: 10px;
            padding-right: 10px;
        }

        .linehr {
            margin: -1px !important;
        }

        .new-approve {
            font-size: 12px !important;
            background-color: #3CD114;
            color: #3CD114;
            border-radius: 0.25em;
        }

        .mapplan {
            color: #c53da9;
            border: 1px solid #c53da9;
        }

        .btn-margin {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: -1px;
        }

        .btn-margin1 {
            margin-top: 10px;
            margin-bottom: -50px;
            margin-left: -1px;
        }

        .general-info-color {
            color: #d81b60;
        }

        .general-info {
            font-size: 18px;
            font-weight: 500;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .general-hr {
            border: 0.5px solid;
            color: #d81b60;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .col-padding {
            padding-left: 15px;
            padding-right: 15px;
        }

        .form-panel-text {
            align-items: center;
            border-radius: 0.5rem;
            /* display: inline-flex;  */
            font-size: .75rem;
            font-weight: 500;
            line-height: 1rem;
            padding: 0.25rem 0.625rem;
            display: block;
        }

        .form-panel {
            -tw-border-opacity: 1;
            --tw-bg-opacity: 1;
            --tw-text-opacity: 1;
            background-color: rgb(248 250 252/var(--tw-bg-opacity));
            border: 1px solid #bec6d9 !important;
            ;
            color: #63686f;
            width: 450px;
        }

        .text-inline {
            display: inline;
        }

        .txt {
            color: #fb8c00;
            font-size: 18px;
            font-weight: 400;
        }

        .h4-text {
            font-size: 18px;
            font-weight: 400;
        }

        .can-hr {
            border: 0.5px solid;
            color: #fb8c00;
        }

        .drp-margin {
            margin-top: 15px;
        }

        .icon-margin {
            margin-top: 4px;
        }

        .row-mtop10 {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .row-mbottom {

            margin-bottom: -15px;
        }

        .row-mtop-1 {
            margin-top: 20px;
            margin-bottom: -15px;
        }

        .vendor {
            padding: 7px !important;
        }

        .row-mtop5 {
            border: 1px solid #e6e9eb;
            color: #415164;
            background-color: #f1f5f7;
            border-color: #e6e9eb;
            border-radius: 4px;
        }

        .thead_color {
            color: black;
            background-color: white;
        }

        .accept_bttn {
            border: none;
            border-radius: 4px;
            font-family: var(--primary-font);
            float: none !important;
            color: whitesmoke;
            background-color: #daf4f0 !important;
            font-size: 14px !important
                /* 0.75em*/
            ;
            color: #0AB39C !important;
            padding: 0.25em 0.4em !important;
        }

        .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
            /* background-color: rgba(33, 37, 41, 0.02) !important; */
            color: #212529 !important;
            background-color: none;
        }

        .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
            /* background-color: #f0f0f0 !important; */
            background-color: none;
        }

        .table-striped>tbody>tr:nth-child(odd)>td,
        .table-striped>tbody>tr:nth-child(odd)>th {
            background-color: #fff;
        }

        #drop-zone {
            max-width: 100% !important;
            margin-left: 10px;
            margin-right: 10px;

        }

        .tbl2[colspan="3"] {
            text-align: center;
        }
        .select-Holidays-permonth{
            display: none;
        }
        .container-fluid.hjk_crct.colr {
            background-color: white;
            margin-top: -14px !important;
            margin-right: -10px;
        }
        .newthebtn.afghitpo {
            margin-left: 10px;
        }
        div.mhj_crcto {
            padding: 0 !important;
        }
        button.row-mtop5 {
            margin-top: 24px !important;
            margin-bottom: -68px !important;
        margin-right: 25px !important;
        }
        .row.asd_alicrctmarg {
            margin-right: -36px !important;
        }


        .type {
            margin-top: 12px;
        }
        .footnew {
            margin-top: -20px;
        }